.wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--white);
  padding: 5px 20px;
  border-radius: 8px;
  box-sizing: border-box;
  overflow: hidden;

  .logo{
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  .content{
    margin-left: 20px;
    font-size: 0.75rem;
    cursor: pointer;
  }

  &.active{
    background: var(--black38);
  }
}
