.wrapper{
  width: 100%;
  font-size: 1em;
  color: var(--grayaa);
  display: -webkit-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;

  &>svg{
    width: 0.75rem;
    height: 0.75rem;
  }
}