$tab-height: 40px;

.wrapper{
  position: relative;
  width: 100%;
  height: calc(100% - var(--header-height));
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}


.player{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.sidebar{
  width: 100%;
  height: calc(100vh - var(--header-height));
  position: relative;

  .toggler{
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;

    &.flip{
      transform: rotate(180deg);
    }
    .icon{
      display: flex;
      flex-direction: column;
      gap: 3px;
      position: relative;
      transform: rotate(-90deg);
      
    }
    .arrow{
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 3px;
      background: #fff;
      transform-origin: bottom left;
      transform: rotate(315deg);
      animation: shaking 2s infinite;
      animation-delay: calc(1s * var(--index));

      &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 3px;
        background: #fff;
        transform-origin: top left;
        transform:  translateY(100%) rotate(270deg);
      }
    }

    @keyframes shaking{
      0%{
        top: 0
      }
      50%{
        top: 8px;
      }
      100%{
        top: 10px;
      }
    }
  }

  &.full{
    top: 0;
    transform: translateX(calc(100% - 20px));

    &::before{
      content: '';
      width: 100%;
      height: 100%;
      background: rgb(0 0 0 / 0.95);
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

    .toggler{
      border-radius: 0;
      border-top-right-radius: 40px;
      border-bottom-right-radius: 40px;
      transform: translate(0, -50%);
    }
    .body{
      padding-left: 10%;
      padding-right: 10%;
    }
  }

  .tabs{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: $tab-height;
  }
  .tab-item{
    flex: 1;
    text-align: center;
    height: 100%;
    line-height: $tab-height;
    background: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    
    &.active{
      background: rgb(255 255 255 / 0.1);
    }
  }
  .body{
    padding: 0;
    height: calc(100% - $tab-height);
    background: rgb(255 255 255 / 0.1);
  }
}

@media (max-width: 1024px){
  .wrapper{
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
  }
  .player{
    padding-bottom: 40px;
  }
  .sidebar{
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0%;
    transform: translate(0, -80px);

    .tab-item{
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .toggler{
      top: 0px;
      left: 0;
      transform: translate(0, 0);
      width: 100%;
      height: $tab-height;
      // background-color:  rgb(255 255 255 / 0.3);
      border-radius: 0;
      position: relative;
      color: transparent;
      z-index: 11;

      .icon{
      }
      // &::before{
      //   // content: '^';
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      //   width: 100%;
      //   height: 100%;
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   background: rgb(0 0 0 / .8);
      //   color: #fff;
      //   z-index: 10;
      // }
    }

    .body{
      height: calc(100% - $tab-height * 2);
    }
    &.full{
      .toggler{
        top: 40px;
        transform: translateY(-100%) rotate(180deg);
      }
    }
  }
}