.wrapper{
  margin-top: 70px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.post{
  width: 80%;
  border: 1px solid rgba(#aaa, 0.5);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  box-sizing: border-box;
}

.head{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 5px;

  .date{
    color: var(--grayaa)
  }

  .text{
    white-space: pre-wrap;
  }
}

.attachment{
  margin-top: 10px;

  .poll{
    display: flex;
    flex-direction: column;
    gap: 4px;

    .vote-count{
      font-size: 0.875rem;
      color: var(--grayaa);
    }
  }

  .images{
    width: 60%;

    img{
      width: 100%;
      object-fit: contain;
    }
  }
}

.interact{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;

  &>*{
    cursor: pointer;
  }

  .like{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    span{
      color: var(--grayaa);
      user-select: none;
    }
  }
  .dislike{
    transform: rotate(180deg);
  }
}