$wrapper: var(--header-height);
$wrapper-bg: var(--black18);

.wrapper{
  width: 100%;
  height: $wrapper;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 32px;
  background: $wrapper-bg ;
  position: relative;

  .search-area{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .close-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    padding: 8px;
    margin-left: 20px;
    border-radius: 35%;
    color:  var(--white);
    font-size: 1.3em;
    cursor: pointer;

    &.hidden{
      display: none;
    }

    &:hover{
      background-color: rgb(255 255 255 / 0.3);
    }
  }
  .user{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);

    &-item{
      width: calc($wrapper * .8);
      height: calc($wrapper * .8);
      margin: calc($wrapper * .1);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    
      
      &:hover{
        background-color: #ffffff24;
      }
    }
  }
  .avatar{
    width: 28px;
    height: 28px;
    margin-left: 24px;
    margin-right: 40px;
    border-radius: 50%;
    background: #c4c4c4;
    overflow: hidden;
    cursor: pointer;

    &>img{
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: 1024px) {
  .wrapper{
    .search-area{
      margin-left: 0;
    }
  }
}


@media screen and (max-width: 768px) {
  .wrapper{
    justify-content: flex-end;
    position: relative;
    width: 100%;
    box-sizing: border-box;

    .logo{
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    .search-area{
      border: none;
    }

    .fullscreen{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $wrapper-bg;
    }
  }
}
