.wrapper{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 32px;
  background: var(--black28);

  .search-area{
    margin-left: 230px;
    width: 578px;
  }

  .user{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: var(--white);

    &>*{
      cursor: pointer;
    }
  }
  .avatar{
    width: 28px;
    height: 28px;
    margin-left: 24px;
    border-radius: 50%;
    background: #c4c4c4;
    overflow: hidden;
    cursor: pointer;

    &>img{
      width: 100%;
      height: 100%;
    }
  }
}